.header {
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    color: #ccffcc;
    background-color: #00ccff;
}

.footer {
    bottom: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    background-color: #00ccff;
}

.body {
    
}

/* Template Specific CSS */

.headerLogo {
    margin-left: 10px;
    margin-top: 5px;
    max-height: 70px;
}

.headerDropDown {
    margin-left: 50px;
    font-size: 15px;
}

.headerSearchBox {
    width: 400px;
}

.headerIcon {
    margin-left: 10px;
    max-height: 30px;
}

.headerField {
    width: 150px;
}

.headerButton {
    font-size: 15px;
}

.footerLeftColumn {
    width: auto;
}

.footerMiddleColumn {
    width: 100%;
}

.footerRightColumn {
    width: auto;
}

.footerText {
    font-size: 30px;
}

.footerMediumText {
    font-size: 20px;
}

.footerSmallText {
    font-size: 15px;
}

.footerLogo {
    max-height: 70px;
}

.footerIcon {
    max-height: 30px;
}

/*Galleria Specific CSS*/

.fullWidthClass {
    text-align:center;
    background: transparent;
    width: 100% !important;
    margin: auto !important;
    border: none;
}

.ui-galleria-caption, .ui-galleria-filmstrip-wrapper, .ui-galleria-nav-prev, .ui-galleria-nav-next {    
    visibility: hidden;
    height: 0px !important;
}

.ui-galleria-panel {
    width: 100% !important;
    margin: auto !important;
    
}

.ui-galleria-panel-wrapper {    
    width: 100% !important;
    margin: auto !important;
    
}

/*Carousel Specific CSS*/

.ui-widget-header img{
    width: auto;
    height: 300px;
}

.ui-carousel {
    width: 100% !important;
    border: none;
}

.ui-panelgrid-blank {
   padding-bottom: 20px; 
   bottom: 20px;
}


.ui-carousel-viewport{
    width: auto !important;
}

.ui-widget-content {
    padding-left: 10px;
    padding-right: 10px;
}

/*Pretty Post Item Button Specific CSS*/

.myButton {
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;

        display: block;
        margin: 0 auto; 
        width: 150px;
        text-align: center;
        
}

.myButton:hover {
	background-color:#5cbf2a;
}

.myButton:active {
	position:relative;
	top:1px;
}