html {
   background: #ddf4fc !important;
}

#floatHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    color: #ccffcc;
    background-color: #00ccff;
    z-index: 1;
}

.footer {
    bottom: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    background-color: #00ccff;
}

.body {
    padding: 20px;
}

/* Template Specific CSS */

.content {    
    margin-top: 100px;
}

.headerLogo {
    margin-left: 10px;
    margin-top: 5px;
    max-height: 70px;
}

.headerDropDown {
    margin-left: 50px;
    font-size: 15px;
}

.headerSearchBox {
    width: 380px;
}

.headerIcon {
    margin-left: 10px;
    max-height: 30px;
}

.headerField {
    width: 150px;
}

.headerButtonsGrid {
    margin-left: 10px;
    text-align: center;
}

.headerButton {
    font-size: 15px;
    position: absolute;
    right: 5px;
    margin-top: 22px;
}


.footerShare {
    position: absolute;
    left: 0px;
    margin-top: 15px;
}

.footerBanner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footerContact {
    position: absolute;
    right: 0px;
    margin-top: 15px;
}

.footerText {
    font-size: 30px;
}

.footerMediumText {
    font-size: 20px;
}

.footerSmallText {
    font-size: 15px;
}

.footerLogo {
    max-height: 70px;
}

.footerIcon {
    max-height: 30px;
}

/*Galleria Specific CSS*/

.fullWidthClass {
    text-align:center;
    background: transparent;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    border: none;
    
    background: #ddf4fc !important;
}

.fullWidthClass img {
    
    /*border: 2px solid black;*/
    
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    
    
}

.ui-galleria-caption, .ui-galleria-filmstrip-wrapper, .ui-galleria-nav-prev, .ui-galleria-nav-next {    
    visibility: hidden;
    height: 0px !important;
}

.ui-galleria-panel {
    width: 100% !important;
    margin: auto !important;
    
}

.ui-galleria-panel-wrapper {    
    width: 100% !important;
    margin: auto !important;
    
}

/*Carousel Specific CSS*/

.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content, 
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header > tr.ui-widget-header, 
.ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content,
.ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content > td.ui-panelgrid-cell,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer > tr.ui-widget-footer {
    background: none !important;
    border: 0 none !important;
}

.ui-widget-header {
    
    border: none;
    background: transparent;
    

}

.ui-widget-header img{
    width: 400px;
    height: 300px;
    /*border: 2px solid black;*/
    
    
}

.ui-carousel {
    width: 100% !important;
}

.ui-carousel-item {
    background: white !important;
    border: none;
}

.ui-carousel-header  {
    
    background: #44c767 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0)));

    /*border:3px solid #008fb3;*/
    
    color: white;
    
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ui-carousel .ui-carousel-header .ui-carousel-header-title {
    padding: 0px !important;
}

.ui-carousel-viewport{
    width: auto !important;
        
    border: 2px solid black;
}

.ui-widget-content {
    padding-left: 10px;
    padding-right: 10px;
    
    background: #44c767;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left{
    background: #00ccff -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0)));
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
   
    border: 3px solid #008fb3;

        font-family:Verdana;
    font-weight: normal;
    
    text-shadow:0px 0px 0px #2f6627;
    color: white;
}

/* Recover Pages CSS */
.recover-form {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 100px;
    border-width: 1px;    
}

/*Pretty Post Item Button Specific CSS*/

.myButton {
	/*background-color:#44c767;*/
        background-color: #00ccff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	/*border:3px solid #18ab29;*/
        border: 3px solid #008fb3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;

        display: block;
        margin: 0 auto; 
        width: 150px;
        text-align: center;
        
}

.myButton:hover {
	/*background-color:#00ccaa;*/
        background-color: #00b8e6;
}

.myButton:active {
	position:relative;
	top:1px;
}
